#heading1{
    color: #034f84;
    position: fixed;
    right: 1%;
    bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}

#button1{
    background-color: #034f84;
    border: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    right: 0%;
    bottom: 0%;
}